html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

.main-background{
    background-color: #eef1f6;
}

.secondary-background{
    background-color: #0e1133;
}

.pink-btn{
    background-color: #ff3e66;
    color: #fff;
    border-style: none;
    border-radius: 2.6rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3.2rem 0;
}

.main-heading{
    word-spacing: 1.5;
}