html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main-background{
    background-color: #eef1f6;
}

.secondary-background{
    background-color: #0e1133;
}

.pink-btn{
    background-color: #ff3e66;
    color: #fff;
    border-style: none;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
}

.container{
    padding: 3.2rem 0;
}

.wide{
    width: 100%;
}

.narrow{
    max-width: 90%;
    margin: 0 auto;
}

.main-heading{
    word-spacing: 1.5;
}