header{
    background-color: #eef1f6;
    padding-bottom: 0 !important; 
    display: block;
}

nav{
    padding: 0 8.6rem;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 1.3rem;
    justify-content: space-between;
}

.left-nav{
    display: flex;
    flex-direction: row;
}

.right-nav{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.right-nav span{
    display: none;
}

.logo{
    margin-right: 1.6rem;
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    flex-direction: row;
    column-gap: 3.6rem;
    list-style: none;
}

.nav-item{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 12rem;
}

.hero-content{
    flex-basis: 35%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.hero-heading{
    font-size: 7.2rem;
    margin-bottom: 2rem !important;
}

.hero-description{
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

.hero-mail{
    width: 80%;
    height: 5.5rem;
    background-color: #fff;
    border-style: none;
    border-radius: 2.5rem;
    box-shadow: -0.5rem 0 #ff3e66, 0 1.5rem rgba(0, 0, 0, 0.01);
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;
}

.hero-mail .label{
    color: #dbcfd0;
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
}

.hero-mail .label .material-symbols-outlined{
    margin-left: 1.5rem;
}

.hero-mail .label i{
    margin-left: 2rem;
    font-size: 1.2rem;
}

.hero-mail .fa-arrow-right{
    color: #ff3e66;
    margin-right: 1.6rem;
    font-size: 1.4rem;
}

.hero-customers{
    display: flex;
}

.customer{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.3rem solid #fff;
    margin-right: -1.5rem;
}

#customer-1{
    z-index: 4;
}

#customer-2{
    z-index: 3;
}

#customer-3{
    z-index: 2;
}

#customer-4{
    z-index: 1;
}

.hero-feedback-img{
    display: flex;
    flex-direction: row;
}

.hero-feedback{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feedback-number{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.feedback-number strong{
    font-size: 2rem;
    font-weight: 500;
}

.feedback-number span{
    font-size: 1rem;
}



.hero-img{
    flex-basis: 60%;
}

.hero-img img{
    width: 100%;
    height: 100%;
}

.how-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
}

.how-title button{
    width: auto;
    height: 40px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    column-gap: 0.5rem;
    font-weight: 600;
    cursor: pointer;
}

.heading-text{
    font-size: 3.2rem;
    font-weight: 600;
    word-spacing: 1.4;
    margin-bottom: 0.8rem;
}

.heading-desc{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 0.8rem;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.how-element{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    border: 1px solid #eff1f4;
    padding: 4rem;
}

.how-heading{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.how-desc{
    margin-top: 0.5rem;
    font-size: 1.6rem;
}

.how-element span{
    width: 2.5rem;
    border-style: none;
    border-radius: 50%;
    color: white;
    padding: 1.4rem;
}

#how-span-1{
    background-color: #2facfc;
}

#how-span-2{
    background-color: #ea4d89;
}

#how-span-3{
    background-color: #3679ff;
}

#how-span-4{
    background-color: #f67842;
}

#how-span-5{
    background-color: #6b88f7;
}

#how-span-6{
    background-color: #3bb094;
}

.read-more{
    font-size: 1.6rem;
    cursor: pointer;
}