header{
    background-color: #eef1f6;
    padding-bottom: 0 !important; 
    display: block;
}

nav{
    padding: 0 8.6rem;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 1.3rem;
    justify-content: space-between;
}

.left-nav{
    display: flex;
    flex-direction: row;
}

.right-nav{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.right-nav span{
    display: none;
}

.logo{
    margin-right: 1.6rem;
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    flex-direction: row;
    column-gap: 3.6rem;
    list-style: none;
}

.nav-item{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 12rem;
}

.hero-content{
    flex-basis: 35%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.hero-heading{
    font-size: 7.2rem;
    margin-bottom: 2rem !important;
}

.hero-description{
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

.hero-mail{
    width: 80%;
    height: 5.5rem;
    background-color: #fff;
    border-style: none;
    border-radius: 2.5rem;
    box-shadow: -0.5rem 0 #ff3e66, 0 1.5rem rgba(0, 0, 0, 0.01);
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;
}

.hero-mail .label{
    color: #dbcfd0;
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
}

.hero-mail .label .material-symbols-outlined{
    margin-left: 1.5rem;
}

.hero-mail .label i{
    margin-left: 2rem;
    font-size: 1.2rem;
}

.hero-mail .fa-arrow-right{
    color: #ff3e66;
    margin-right: 1.6rem;
    font-size: 1.4rem;
}

.hero-customers{
    display: flex;
}

.customer{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.3rem solid #fff;
    margin-right: -1.5rem;
}

#customer-1{
    z-index: 4;
}

#customer-2{
    z-index: 3;
}

#customer-3{
    z-index: 2;
}

#customer-4{
    z-index: 1;
}

.hero-feedback-img{
    display: flex;
    flex-direction: row;
}

.hero-feedback{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feedback-number{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.feedback-number strong{
    font-size: 2rem;
    font-weight: 500;
}

.feedback-number span{
    font-size: 1rem;
}

.hero-img{
    flex-basis: 60%;
}

.hero-img img{
    width: 100%;
    height: 100%;
}

.how-work{
    margin: 3.2rem auto;
}

.how-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
}

.how-title button{
    width: auto;
    height: 40px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    column-gap: 0.5rem;
    font-weight: 600;
    cursor: pointer;
}

.heading-text{
    font-size: 5.2rem;
    font-weight: 600;
    word-spacing: 1.4;
    margin-bottom: 0.8rem;
}

.heading-desc{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 0.8rem;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.how-element{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    border: 1px solid #eff1f4;
    padding: 4rem;
}

.how-heading{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.how-desc{
    margin-top: 0.5rem;
    font-size: 1.6rem;
}

.how-element span{
    width: 2.5rem;
    border-style: none;
    border-radius: 50%;
    color: white;
    padding: 1.4rem;
}

#how-span-1{
    background-color: #2facfc;
}

#how-span-2{
    background-color: #ea4d89;
}

#how-span-3{
    background-color: #3679ff;
}

#how-span-4{
    background-color: #f67842;
}

#how-span-5{
    background-color: #6b88f7;
}

#how-span-6{
    background-color: #3bb094;
}

.read-more{
    font-size: 1.6rem;
    cursor: pointer;
}

.marketing{
    background-color: #eef1f6;
    display: flex;
    flex-direction: row;
    height: 400px;
    margin: 7.2rem auto;
    padding-bottom: 0;
}

.marketing-img {
    flex-basis: 45%;
}

.marketing-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% -10%;
}

.marketing-content{
    flex-basis: 55%;
}

.pink-label{
    color: #fc5b7e;
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

.marketing-heading{
    font-size: 5.4rem;
    font-weight: 600;
    color: #0f1234;
    margin-top: 1.4rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

.marketing-desc{
    font-size: 2.2rem;
    margin-top: 1.6rem;
}

.marketing-features{
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}

.marekting-feature{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.marekting-feature span{
    background-color: #32c36a;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 2.4rem;
}

.feature-heading{
    font-size: 2.4rem;
    font-weight: 600;
    color: #0f1234;
    margin-top: 0;
    margin-bottom: 1.2rem;
}

.feature-desc{
    font-size: 1.6rem;
    margin-top: 1.2rem;
}

.event{
    color: white;
    background-color: #0f1234;
}

.event-header{
    text-align: center;
    width: 45rem;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.event-header .heading-text{
    font-size: 4.8rem;
}

.flex-2-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
}

.event-img img{
    width: 100%;
}

.flex-3-row{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
}

.event-element{
    border: 1px solid #181a34;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    padding: 1rem 2rem;
}

.event-element span{
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border-radius: 50%;
    align-self: center;
}

#red-circle{
    background-color: #ff3e66;
    border: 0.5rem solid #2a182d;
}

#blue-circle{
    background-color: #2eacfc;
    border: 0.5rem solid #1c486f;
}

#green-circle{
    background-color: #33c956;
    border: 0.5rem solid #15262c;
}

.event-title h4{
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.event-title p{
    font-size: 1.6rem;
    margin-top: 1.5rem;
    color: #444661;
}

.learn-analysis{
    display: flex;
    flex-direction: row;
    column-gap: 8rem;
    justify-content: center;
}

.analysis-element{
    padding: 3rem 6rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0;
}

.analysis-element img{
    width: 7rem;
    height: 7rem;
    margin-bottom: 0.3rem;
}

.analysis-number{
    margin-top: 0.3rem;
    font-size: 3.2rem;
    margin-bottom: 0.2rem;
}

.analysis-number strong{
    font-weight: 800;
}

.analysis-element :nth-child(3){
    font-size: 1.6rem;
}

.analysis-number-desc{
    margin-top: 0.2rem;
}

.learn-imgs{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.learn-img-1{
    flex-basis: 68%;
}

.learn-img-2{
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    align-items: flex-end;
}

.arrows span{
    font-size: 2.8rem;
    border: 2px solid #ebedf1;
    border-radius: 50%;
    padding: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.learn-img-1 img{
    width: 100%;
}

.learn-img-2 img{
    width: 100%;
}

.video-desc{
    margin-left: 9rem;
}

.video-desc h3{
    font-size: 3.4rem;
    font-weight: 800;
    letter-spacing: 0.5;
    margin-bottom: 1rem;
}

.video-desc p{
    margin-top: 1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.blue-btn{
    color: #0f125a;
    background-color: white;
    border: 2px solid #ebedf1;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
}

.download{
    background-color: #eef1f6;
    padding: 8rem 0;
}

.download-container{
    max-width: 44rem;
    margin: 0 auto 0 5%;
    padding: 6rem 0;
}

.download .heading-text{
    margin-top: 1rem;
    font-size: 4.4rem;
}

.download .heading-desc{
    font-size: 1.6rem;
}

.download-stores{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}

.download-element{
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    font-size: 1.8rem;
    align-items: center;
}

.download-element span{
    font-size: 3rem;
}

.download-element p{
    margin: 0;
    line-height: 1.2;
}

.download-element strong{
    font-weight: 500;
    font-size: 2.4rem;
}
.ios{
    background-color: #0e1133;
    color: white;
}

.android{
    background-color: white;
    border: 3px solid #0e1133;
    color: #0e1133;
    padding-right: 0;
}

.pricing{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 4rem;
  }
  
  .pricing-title{
    text-align: center;
  }
  
  .pricing-annually{
    border: 2px solid #eff1f4;
    border-radius: 1.5rem;
    padding: 0.7rem 0.2rem;
    font-size: 1.8rem;
  }
  
  .monthly{
    background-color: #ff3e66
    ;
    padding: 0.5rem 1.5rem;
    color: white;
    border-radius: 1.5rem;
  }
  
  .yearly{
    padding: 0.5rem 1.5rem;
  }
  
  .pricing-choices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .pricing-choice{
    flex-basis: 26%;
    border: 2px solid #f0f1f5;
    padding: 3rem;
    border-radius: 1rem;
  }
  
  .pricing-choice h4{
    font-size: 2.2rem;
    margin: 1rem 0;
  }
  
  .pricing-choice sup{
    font-size: 2.5rem;
    font-weight: 400;
  }
  
  
  .pricing-choice h3 strong{
    font-weight: 800;
    font-size: 4.5rem;
  }
  
  .pricing-choice p{
    font-size: 1.4rem;
  }
  
  .choice-feature-list{
    list-style: none;
    padding-left: 0;
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }
  
  .choice-feature-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .choice-feature-item span{
    color: #76a1f8;
    background-color: #eef4fe;
    font-size: 1.6rem;
    border-radius: 50%;
    padding: 0.3rem;
  }

  .pricing-choice:nth-child(3) .choice-feature-item span{
    color: #61d18c;
    background-color: #effaf3;
  }
  
  .pricing-choice hr{
    color: f0f1f5;
  }

  .picked{
    border: none;
    border-top: 3px solid #ff3e66;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba(0, 0, 0, 0.19);
    position: relative;
  }

  .picked::after{
    content: "Most Popular";
    position: absolute;
    top: 6%;
    right: 0%;
    font-size: 1.6rem;
    color: white;
    background-color: #2a6df5
    ;
    padding: 0.7rem 2rem;
    border-top-left-radius: 2rem ;
    border-bottom-left-radius: 2rem;
  }

  .quote{
    justify-content: center;
    background-image: url("https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg?w=1060&t=st=1673696780~exp=1673697380~hmac=39fcf03cb8be8f738ce4bfd9d624bb1188a85ba944c486233ffa44d555bc6cf9");
    background-color: #2c6ff4;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 7rem auto;
  }

  .quote-container{
    display: flex;
    flex-direction: row;
    max-width: 80rem;
    margin: 0 auto;
    column-gap: 5rem;
    padding: 8rem 0;
    color: white;
  }

  .quote-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    font-size: 1.4rem;
  }

  .quote-img img{
    width: 13rem;
    border-radius: 50%;
    
  }

  .quote-img p{
    margin-top: 0;
  }

.five-stars{
    color: #ffb848;
}

.quote-desc blockquote{
    margin: 0 1rem 2rem 0;
    font-size: 2rem;
}

.quote-author{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.author{
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}

.author-career{
    font-size: 1.4rem;
    margin-top: 1rem;
}

.quote-author span{
    font-size: 1.8rem;
}


.sponsers-heading{
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.sponsers-heading .heading-text{
    margin-top: 0;
}

.sponsers-icons{
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    max-width: 80rem;
    margin: 6rem auto;
    flex-wrap: wrap;
    row-gap: 3rem;
    justify-content: center;
}

.sponsers-icons span{
    padding: 2rem;
    box-shadow:  0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba(0, 0, 0, 0.19);
    max-width: 6rem;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
}

footer{
    background-color: #eef1f6;
    
}

footer .narrow{
    padding-top: 3rem;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8rem;
}

footer hr{
    color: #e3e7ee;
    margin-bottom: 3rem;
}

.home{
    flex-basis: 25%;
}

.home-desc{
    font-size: 1.8rem;
}
.social{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    font-size: 1.4rem;
}

.social i{
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

footer .read-more{
    margin-bottom: 3rem;
}

.footer-list{
    list-style: none;
    padding-left: 0;
}

footer h3{
    font-size: 2.2rem;
    margin-top: 0;
}

.footer-item{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.connection{
    flex-basis: 20%;
}

.connection li{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}

.connection li span{
    color: #7781fa;
}

.footer-download{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.ios-android{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.ios-android .ios{
    color: #0e1133;
    background-color: white;
    border-radius: 0.7rem;
}

.ios-android .android{
    border-radius: 0.7rem;
    color: #0e1133;
    background-color: inherit;
    border-color: #e3e7ee;
    padding-right: 1rem;
}

.copy-right{
    font-size: 1.8rem;
}