@media (max-width: 750px) {
  .nav-list{
    display: none;
  }

  .right-nav span{
    display: block;
  }

  .hero-content{
    flex-basis: 95%;
  }

  .hero-heading{
    font-size: 3.2rem;
  }

  .hero-mail{
    width: 95%;
  }

  .hero-feedback{
    align-self: flex-start;
  }

  .hero-img{
    flex-basis: auto;
  }

  .how-title{
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  .how-title div{
    text-align: center;
  }

  .grid-3{
    grid-template-columns: 1fr;
  }

  .how-element{
    align-items: center;
    text-align: center;
  }

  .marketing-content{
    flex-basis: 100%;
    text-align: center;
    padding: 0 3rem;
  }

  .marketing-heading{
    font-size: 3rem;
  }

  .marketing-desc{
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
  }

  .marketing-img{
    display: none;
  }

  .marketing-features{
    flex-direction: column;
    row-gap: 2rem;
  }

  .feature-title{
    text-align: start;
  }

  .feature-heading{
    font-size: 2.2rem;
  }

  .feature-desc{
    font-size: 1.4rem;
  }

  .flex-2-col{
    flex-direction: column;
    row-gap: 4rem;
    align-items: center;
    padding: 0 3rem;
  }

  .learn-analysis{
    flex-direction: column;
    row-gap: 3rem;
    margin: 6rem 0;
  }

  .heading-text{
    font-size: 3.8rem;
  }

  .heading-desc{
    font-size: 1.6rem;
  }

  .analysis-element{
    margin: 0 3rem;
  }

  .learn-imgs{
    flex-direction: column;
    row-gap: 5rem;
    margin: 3rem 2rem;
  }

  .video-desc{
    margin-left: 0;
  }

  .video-desc h3{
    font-size: 2.6rem;
  }

  .video-desc p{
    font-size: 1.6rem;
  }

  .video-desc button{
    font-size: 1.4rem;
  }

  .learn-arrows{
    display: none;
  }

  .download-container{
    margin-left: 7rem;
  }
}

@media (max-width: 1100px){
  html{
    font-size: 56%;
  }

  .hero-heading{
    font-size: 4.8rem;
  }
}

